<html>
    <head>
        <title>Welcome to Street fighter!!!</title>
    </head>
    <body>
        <h1>Welcome to the fighting game called street fighter!!!</h1>
        <p>Its a 2D 1 v 1 fighting game that puts fighters with backgrounds</p>
        <p>From around the world against each other to test who comes out on TOP!!!</p>
        <p>It's had many cross overs with other famous series such as tekken and marvel</p>
        <p>The cast has multipule characters that each have diffrent playstyles</p>
                      
    
    
    <img src="https://tse2.mm.bing.net/th?id=OIP.6MfeG-pLV2sE9YdZ_4bG6gHaHa&pid=Api&P=0&w=300&h=300">
    
    <caption>Fighting game</caption>
    
    <img src="https://tse3.mm.bing.net/th?id=OIP.N2Fof8wAaMyFHwHVq3p2BgAAAA&pid=Api&P=0&w=300&h=300"
    
    <caption>Street fighter x Tekken</caption>
    
    <img src="https://www.destructoid.com/ul/469995-x-men-legends-is-still-the-greatest-marvel-video-game/x-men_vs_street_fighter_ssram_a-noscale.jpg"

    <caption> Marvel v.s. Capcom</caption>

    
    </body>
    
  
  
</html>
