<html>
    <head>
        <title>Welcome to Call of Duty!!!</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}?q={{ time }}" />

    </head>
    <body>
        <h1 class="sansserif">Welcome to the first person shooter called Call of duty!!!</h1>
        <p class="sansserif">You have arrived to the first person co-op shooter game called Call of duty </p>
        <p class="sansserif">It's competiteve online game that pairs up players from around the world to put their skill in war to the test</p>
        <p class="sansserif">You are givin a wide variety of weapons to choose from to gain the upper hand in the battle</p>
        <p class="sansserif">Set up your soldier, load into the match and try your hardest to survive, good luck!!!</p>
                      
    
    
    <img src="https://tse4.mm.bing.net/th?id=OIP.u08_3yOOweGPP45ifyh4bwHaEZ&pid=Api&P=0&w=299&h=178">
    
    <caption>It even has extra content like the zombies side story</caption>
    
    <img src="https://tse2.mm.bing.net/th?id=OIP.1s24ZZDtm2le-o7qFs07gwHaEK&pid=Api&P=0&w=322&h=182"
    
    <caption>Call of duty black ops</caption>
    
    <img src="https://tse1.mm.bing.net/th?id=OIP.Dqzsp6af963-6uFZXXcaRgHaHa&pid=Api&P=0&w=300&h=300"

    <caption>Call of duty modern warefare</caption>

    
    </body>
    
  
  
</html>
