<html>
    <head>
        <title>Welcome to the game recommender</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}?q={{ time }}" />
    
   
</style>
</head>
    <body>
        <h1 class="sansserif">Welcome to the game recommender</h1>
        <p class="sansserif">We can find your favorite game here!</p>
        <p class="sansserif">Choose a game and you will find out more about it!</p>
        <p class="sansserif">We have fighting games, first person shooter, and platformer</p>
        <p class="sansserif">Please choose one of these options</p>
        <form method="post" action="/results">
            <input type="text" name="game" placeholder="Enter your game here"/>
            <input type="submit" value="Submit"/>

            
        </form>               
    
    <img src="https://tse1.mm.bing.net/th?id=OIP.2bMDgydcKPG3LncHMBnrWQHaE7&pid=Api&P=0&w=300&h=200">
    <caption>Evo champions finals</caption>
    <img src="https://tse2.mm.bing.net/th?id=OIP.6MfeG-pLV2sE9YdZ_4bG6gHaHa&pid=Api&P=0&w=300&h=300">
    <caption>Fighting game</caption>
    <img src="https://tse3.mm.bing.net/th?id=OIP.rPs8fX5k4kYmz-Om20NNKgHaEK&pid=Api&P=0&w=319&h=180">
    <caption>First person shooter</caption>
    <img src="https://tse3.mm.bing.net/th?id=OIP.zY5-Qh_E_MUoWA9Rm3W5ygHaEK&pid=Api&P=0&w=286&h=162">
    <caption>Platformers</caption>
    </body>
    
  
  
</html>
