<html>
    <head>
        <title>Welcome to the platformer called Super Mario Odessey!!!</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}?q={{ time }}" />

    </head>
    <body>
        <h1 class="sansserif">This is Super Mario Odessey!!</h1>
        <p class="sansserif">This is the platformer called mario Odyessey! it's an open world 3D platformer</p>
        <p class="sansserif">That star's the famous character Mario here to save the princess once more</p>
        <p class="sansserif">With the new addition to the series called "Cappy" Mario is now able to perform never before seen tricks</p>
        <p class="sansserif">Jump, roll, run and throw your hat to complete your goal to save the kingdom</p>
                      
    
    
    <img src="https://tse1.mm.bing.net/th?id=OIP.jc8nPxO91Qeqf7KqyRv3xwHaEK&pid=Api&P=0&w=279&h=157">
    
    <caption>Welcome to Super Mario Odessey</caption>
    
    <img src="https://tse1.mm.bing.net/th?id=OIP.v03QC4LsKVQ4XlbxBOG7AwHaEK&pid=Api&P=0&w=292&h=165"
    
    <caption>The celebration of a full year after release</caption>
    
    <img src="https://tse4.mm.bing.net/th?id=OIP.hM5M0_NwejRDsCbvkrGSTwHaEK&pid=Api&P=0&w=328&h=185"

    <caption>The new power Mario has achieved</caption>

    
    </body>
    
  
  
</html>
